<div>
    <label>Penalty Date</label>
    <input type="date" name="penaltydate" >
</div>

<div>
    <label>Vehicle Number</label>
    <input type="text" name="vehnum" >
</div>

<div>
    <label>Penalty Place</label>
    <input type="text" name="penaltyplace" >
</div>

<div>
    <label>GC Number</label>
    <input type="text" name="lrnumber" >
</div>

<div>
    <label>Party Name</label>
    <input type="text" name="partyname" >
</div>

<div>
    <label>Penalty Amount</label>
    <input type="number" name="penaltyamount" >
</div>

<div>
    <label>Received Amount</label>
    <input type="number" name="receivedamount" >
</div>

<div>
    <label>Status</label>
    <input type="checkbox" name="receivedamount" >
</div>

<div>
    <label>Photo Upload</label>
    <input type="file" name="cover" class="filepond">  
</div>




    
    