<h1>Reports of :</h1> 
<ul>
    <li class="header-link"><a href="/reports/pending">Pending Trip Sheets</a></li>
    <li class="header-link"><a href="/reports/missing">Missing GC </a></li>
    <li class="header-link"><a href="/reports/damaged">Damaged GC</a></li>
    <li class="header-link"><a href="/reports/penalty">Penalty</a></li>   
</ul>