<H1> Penalty Imposted by Sales Tax </H1>
<button> <a class='btn btn' href="/reports/penaltynew">NewForm </a></button>
<button> <a class='btn btn' href="/reports/penaltyview">View Old Penalties </a></button>


