<h1>New Penalty Form</h1>

<form action="/penalty/penalty" method="POST">
    <div> 
      <button class='btn btn' type="submit">Create</button> 
      <button> <a class='btn btn' href="/penalty/new">Cancel </a></button>
      <button> <a class='btn btn' href="/missing/reports">Back </a></button>
      <!--<button> <a class='btn btn' href="/home.html">Back </a></button>-->
    </div>
  <%- include('_form_fields') %>
</form>