<h2>Edit TripSheet</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <a href="/books/books">Cancel</a>
  <button type="submit">Update</button>
  <%- include('_form_fields') %>
</form>