<h1>New Trip Sheet</h1>

<form action="/books/books" method="POST">
  <div> 
    <button class='btn btn' type="submit">Create</button> 
    <button> <a class='btn btn' href="/books/new">Cancel </a></button>
  </div>

  <%- include('_form_fields') %>
</form>