<header>
    <nav>
      <a href="/"><H1>Trip Sheet Details</H1></a>
      <ul>
        <li><a href="/authors">Places</a></li>
        <li><a href="/authors/new">Add Place</a></li>
        <li><a href="/books">TripSheet</a></li>
        <li><a href="/books/new">Add TripSheet</a></li>
      </ul>
    </nav>
  </header>