<label>Log In</label>
<input type="name" name="name" value="<%= login.name %>">
<input type="number" name="mobile" value="<%= login.mobile %>">
<input type="password" name="password" value="<%= login.password %>">

