<img src="LogIn.JPG" height="200" width="250" > 
<div>
     <button><a class="btn btn" href="/login"> Existing User Login </a> </button>
</div>
<div>
<button><a class="btn btn" href="/register">New User Registration</a> </button>
</div>
