<h1>Reports of :</h1> 
<ul>
    <li class="header-link"><a href="/pending/pending">Pending Trip Sheets</a></li>
    <li class="header-link"><a href="/missing/missing">Missing GC </a></li>
    <li class="header-link"><a href="/damaged/damaged">Damaged GC</a></li>
    <li class="header-link"><a href="/penalty/penalty">Penalty</a></li>   
</ul>

