<H1>Login Form</H1>

<form action="/login" method="POST">
  <div>
    <label for="email">Mobile</label>
    <input type="mobile" id="mobile" name="mobile" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button class="btn btn" type="submit">Login</button>
</form>
<a href="/register">Register</a>