<h2>Add New Place</h2>
<link rel="stylesheet" href="/public/stylesheets/main.css">
<div>  
  <form class="btn btn" action="/authors" method="POST">
  <%- include('_form_fields') %>
  <button>  <a class="btn btn" href="/authors/new" >Cancel</a> </button>
  <button class="btn btn" type="submit">Create</button>
</div>
</form>

